.external_css h2{
color: black;
text-align: center;
}
.external_css p{
    color: black;
    text-align: center;
}
.external_css button{
    color: purple;
}
.external_css{
    background-color: blanchedalmond;
    text-align: center;
    border: 1px solid purple;
    border-radius: 10px;
    box-shadow: 10px 10px 22px;
    width: 35%;
    padding: 10px;
}